
.About{
    margin: 1px; 
}

.About img {
    border-radius: 50%; 
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px gray;
}

.image-bio-container{
    display: flex; 
    align-items: flex-start; 
    font-family: 'FigTree', sans-serif;
    font-weight: 400; 
}

.image-bio-container, .bio-container {
    margin: 20px; 
    padding: 20px 40px; 
    border-radius: 10px; 
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px gray;
    color: rgb(72, 72, 72);
}

.image-bio-container {
    background-color: whitesmoke;
    height: 100%;
}

.image-bio-container-background {
    height: 100%; 
    width: fit-content;
}


.bio-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: white;
    font-size: 20px; 
    font-weight: 600;
    
}

.card { 
    display: flex; 
    flex-direction: column;
    padding: 20px 40px; 
    margin: 20px;
    border-radius: 10px; 
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px gray;
    font-size:  18px;
    font-weight: 400
} 

.card1 { 
    width: fit-content;
    margin: 10px;
    padding: 10px; 
    display: flex; 
    flex-wrap: row wrap;
    justify-content: center;
    border-radius: 10px; 
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px gray;
} 


.item {
    width: fit-content;
    display: flex; 
    align-items: center;
    margin: 6px;
    padding: 12px 10px 12px 10px;
    background-color: #237eec;
    color: white;
    border-top: 2px solid whitesmoke;
    box-shadow: 5px 1px 0px gray;
    border-radius: 18px;
    font-size: 12px;
    color: rgb(190, 237, 253);
    

}