@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

.About{
    margin: 20px; 
}

.About img {
    border-radius: 50%; 
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px gray;
}


.image-bio-container{
    display: flex; 
    align-items: center; 
    font-family: 'Tajawal', sans-serif;
    font-weight: 300; 
}

.image-bio-container .bio-container {
    margin: 30px; 
    padding: 20px 40px; 
    border-radius: 10px; 
    background-color: #F5F5F5;
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px gray;
    color: rgb(78, 77, 77)
}

.bio { 
    padding: 20px 40px; 
    border-radius: 10px; 
    background-color: white;
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px gray;
    font-size: 18px;
    font-weight: 400
}