.Contact {
    display: flex; 
    flex-direction: column;
    min-height: 80vh;
    margin: 40px; 
    width: 50%; 
}
.text {
    display: flex;
    flex-direction: column;
    font-family: "Figtree", san-serif;
    font-weight: 600; 
    font-size: 60px;
    background: -webkit-linear-gradient(#2587fb, #11345f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}