
.Home {
    display: flex; 
    flex-direction: column;
    min-height: 80vh;
    font-family: "Figtree", sans-serif;
    font-size: 36px;
    margin: 0px;
    padding: 100px;  
  }

.Home > p {
    justify-content: flex-start;
    font-weight: 400; 
    color: #1b5194;
}

.links {
    display: flex; 
    flex-direction: row;
}

.Home > .Button {
    width: fit-content;
}


