.Project{
    display: flex; 
    flex-direction: column; 
    margin: 20px; 
    padding: 20px;
    border-radius: 10px; 
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px gray;
} 
.project-button{
    display: flex; 
    margin-top: 10px; 
}