.project-card {
    font-family: 'FigTree', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    margin: 40px; 
    padding: 20px;
    border-radius: 10px; 
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px gray;
    background-color: white;

} 
.name-description-card  {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    padding: 20px 40px; 
    border-radius: 10px; 
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px gray;
    font-size: 18px;
    font-weight: 400
}

.image {
    border-radius: 10px;
}



